@import "../bootstrap/css/bootstrap.min.css";

.tags {
    font-size: smaller;
}

.tags span {
    color: #2e6da4;
}

.tags span:hover {
    border-bottom: 1px dotted;
    border-color: #2e6da4;
}

.tags::before {
    content: "Tagi: ";
}

.tags span::before {
    content: "#";
}

textarea, input, select {
    margin-bottom: 5px;
}

div.star5 {
    background: url('../images/star5.png') no-repeat;
    background-size: 100px;
    padding-left: 100px;
}

div.star4 {
    background: url('../images/star4.png') no-repeat;
    background-size: 100px;
    padding-left: 100px;
}

div.star3 {
    background: url('../images/star3.png') no-repeat;
    background-size: 100px;
    padding-left: 100px;
}

div.star2 {
    background: url('../images/star2.png') no-repeat;
    background-size: 100px;
    padding-left: 100px;
}

div.star1 {
    background: url('../images/star1.png') no-repeat;
    background-size: 100px;
    padding-left: 100px;
}

.italic {
    font-style: italic;
}

.bolded {
    font-weight: bold;
}

.error-img {
    width: 50%;
}

/** overrided **/
.list-group a {
    text-decoration: none;
}